# preprocessing
- find null values
- replace with feature mean
- find outliers (especially m2)
- enumarate categorical features
- drop title col
- drop id col
- convert all prices to try
- drop lat lon
- convert date values to be of the same race
- drop type (bcz all values are flat)
- drop currency
- remove outlier prices (25000 TL, 8500000TL)

In [32]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [33]:
FILENAME = "real_estate_data.csv"
df = pd.read_csv(FILENAME)
df

/var/folders/ww/ck6br5qn30dcbzk3wctq1hym0000gn/T/ipykernel_29723/3775919421.py:2: DtypeWarning: Columns (7,8,17,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(FILENAME)

,title,Id,price,currency,loc city,loc county,loc dist,lat,lon,date,...,tfloor,heat,bath,furn,status,resid,due,loan,saler,exc
0,SAHİBİNDEN-%10 İNDİRİM-225.000 TL,323589399,225000,Turkish Lira,İstanbul,Sancaktepe,Sarıgazi Mah.,41.0038377949543,29.21301931142807,28 Temmuz 2016,...,5,Combi,1,False,Tenant,False.1,0,True,Owner,True.1
1,İSTANBULUN MERKEZİ,323599659,360000,Turkish Lira,İstanbul,Üsküdar,Ünalan Mah.,41.00505149566664,29.06293362379074,28 Temmuz 2016,...,9,Combi,1,False,Empty,True,Unknown,True,Owner,False
2,Merkezde 4+1 Şömineli Ultra Lüks Sıfır İskanlı...,323536105,335000,Turkish Lira,İstanbul,Arnavutköy,Hastane Mah.,41.15349006974785,28.61914336681366,27 Temmuz 2016,...,5,Combi,1,False,Empty,True,Unknown,True,Owner,False
3,kelepir büyük dublex acil pazarlık yaparız boş...,323709392,235000,Turkish Lira,Antalya,Muratpaşa,Yenigün Mah.,36.902680915191745,30.72165828198194,28 Temmuz 2016,...,4,Floor Calorie,2,False,Tenant,False,25,True,Owner,True
4,ACİL SAHİBİNDEN MANİSA MURADİYE ANA CADDEDE DU...,323730617,229000,Turkish Lira,Manisa,Yunusemre,Muradiye,38.6388217455677,27.346086502075195,28 Temmuz 2016,...,5,Combi,2,False,Tenant,False,Unknown,True,Owner,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33267,satılık daire 2+1 .0 bahcelievler siyavuş paşa...,457328108,360000,Turkish Lira,İstanbul,Bahçelievler,Siyavuşpaşa Mah.,40.995306,28.851416,2017-09-03,...,5,Combi,1.0,False,Empty,False,10,True,Real Estate Office,False
33268,TALAS'IN EN GUZEL YERI YAMAC SITESI 6.BLOK,477529662,475000,Turkish Lira,Kayseri,Talas,Bahçelievler Mah.,38.685825,35.543849,2017-09-03,...,14,Central,2.0,False,Owner,True,Unknown,True,Owner,False
33269,7 EMLAK'TAN AKDERE MAHALLESİNDE 6+1 DUBLEKS SA...,406397908,375000,Turkish Lira,Ankara,Mamak,Kazım Orbay Mah.,39.913936,32.892213,2017-09-03,...,6,Combi,2.0,False,Owner,False,Unknown,False,Real Estate Office,False
33270,HOME Vizyon Şirinevler METROYA 6Dk Yürüme Yolu...,468679683,289000,Turkish Lira,İstanbul,Bahçelievler,Şirinevler Mah.,40.992231,28.843328,2017-09-03,...,5,Combi,1.0,False,Empty,False,Unknown,True,Real Estate Office,False
33271,ÇAMLICA TEPESİNE YAKIN FERAH'TA PRİM YAPACAK ...,468558453,320000,Turkish Lira,İstanbul,Üsküdar,Ferah Mah.,41.03244,29.073408,2017-09-03,...,5,Combi,1.0,False,Owner,False,35,False,Real Estate Office,False

In [34]:
# Find rows where 'bath' column has null values
null_bath_rows = df[df['bath'].isnull()]
null_bath_rows.isnull().count()
df[df["rooms"] == "Unknown"]

,title,Id,price,currency,loc city,loc county,loc dist,lat,lon,date,...,tfloor,heat,bath,furn,status,resid,due,loan,saler,exc
2885,NEVİN AKGÜN ' DEN MUHTEŞEM VİLLA ............,73029877,3650000,US Dollar,İstanbul,Bakırköy,Basınköy Mah.,40.9795683799,28.7777684798,22 Temmuz 2017,...,3,Combi,2,False,Unknown,Unknown,Unknown,True,Real Estate Office,False
21037,KAT KARŞILIĞI ARSA VE KENTSEL DÖNÜŞÜM GREEN WO...,193123121,100000,Turkish Lira,İstanbul,Küçükçekmece,Halkalı Merkez Mah.,41.0359883953,28.7892436981,2017-08-24,...,5,NaN,NaN,False,Owner,False,Unknown,False,Real Estate Office,True

# Set rooms property

In [35]:
# Convert 'm2' column to numeric if it's not already
df['m2'] = pd.to_numeric(df['m2'], errors='coerce')

for i in df[df["rooms"] == "Unknown"].index:
    m2 = df.iloc[i]["m2"]
    mode = df[df['m2'] == m2]["rooms"].mode()
    if not mode.empty:  # Check if mode is not empty
        mode_value = mode.iloc[0]  # Take the first mode value
        df.at[i, "rooms"] = mode_value

# Set residence property

In [37]:
df['resid'] = (df['resid'] == 'unknown') & (df['price'] > 150000)

,title,Id,price,currency,loc city,loc county,loc dist,lat,lon,date,...,tfloor,heat,bath,furn,status,resid,due,loan,saler,exc
56,MEDİCAL PARK YANI,85692707,1000000,Turkish Lira,Antalya,Muratpaşa,Fener Mah.,36.8530461846,30.7523202896,30 Temmuz 2016,...,12,Floor Calorie,2,False,Unknown,False,Unknown,True,Owner,False

In [ ]:
# Replace 'None' with np.nan if it's not already done
new_df = df.replace('None', np.NaN)

# Remove rows with any null values
df_cleaned = new_df.dropna()

# Save the cleaned DataFrame to a new CSV file
df_cleaned.to_csv('cleaned_data.csv', index=False)

# Display the cleaned DataFrame

df_cleaned

In [ ]:

df = pd.read_csv('cleaned_data.csv')

In [ ]:
missing_values_summary = df.isnull().sum()
missing_values_summary

# DROP FETURES

## Drop lat - lon - type - title - id - due and Status features from dataframe

In [ ]:
if 'lat' in df.columns:
    df.drop('lat', axis=1, inplace=True)

if 'lon' in df.columns:
    df.drop('lon', axis=1, inplace=True)

if 'type' in df.columns:
    df.drop('type', axis=1, inplace=True)

if 'title' in df.columns:
    df.drop('title', axis=1, inplace=True)

if 'Id' in df.columns:
    df.drop('Id', axis=1, inplace=True)

if 'due' in df.columns:
    df.drop('due', axis=1, inplace=True)

if 'Status' in df.columns:
    df.drop('Status', axis=1, inplace=True)

df

## Change all currency with turkish lira equivalent and drop currency feature

In [ ]:

if "currency" in df.columns:

    df.loc[df['currency'] == 'Euro', 'price'] *= 4
    df.loc[df['currency'] == 'US Dollar', 'price'] *= 3.5
    df.loc[df['currency'] == 'British Pound', 'price'] *= 4.5

    df.drop("currency", axis=1, inplace=True)
df["price"]

## Outlier detection using confidence interval

In [ ]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

# Define a condition to identify outliers
outlier_condition = (df['price'] < (Q1 - 1.5 * IQR)) | (df['price'] > (Q3 + 1.5 * IQR))

# Display rows containing outliers
outliers = df[outlier_condition]
df.drop(outliers.index, inplace=True)
df

## Date transformation

In [ ]:
# df.loc()

# for tr, en in turkish_months.values():
#     df.loc[df['date'].str.contains(tr), 'price']

aylar = {"Ocak": "01", "Şubat": "02", "Mart": "03", "Nisan": "04", "Mayıs": "05", "Haziran": "06",
             "Temmuz": "07", "Ağustos": "08", "Eylül": "09", "Ekim": "10", "Kasım": "11", "Aralık": "12"}

def transform_date(date):
    match date:
        case str():
            result = '-'.join(date.split()[::-1])
            for ay, ay_kodu in aylar.items():
                result = result.replace(ay, ay_kodu)
            
            return result
        case _:
            return date

def transform_date_to_ms(date_str) -> int:
    from dateutil import parser

    match date_str:
        case str():
            return parser.parse(date_str, dayfirst=True).timestamp().__floor__()
        case _:
            return int(date_str)


# 'date' sütununu dönüştürün
df['date'] = df['date'].apply(transform_date)
df['date'] = df['date'].apply(transform_date_to_ms)
df['date']

## Bath transformation

In [ ]:
def transform_bath(bath):
    match bath:
        case str():
            if "+" in bath:
                return float(bath.replace("+", ""))
            else:
                return float(bath)
        case _:
            return bath

df["bath"] = df["bath"].apply(transform_bath)
df

In [ ]:
df["rooms"].value_counts()

# Enumeration Process

In [ ]:
from pandas import DataFrame
from sklearn.preprocessing import LabelEncoder

def enumerate_column(column: str, df: DataFrame):
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])

columns_to_enumerate = ["loc city", "loc county", "loc dist", "rooms", "age", "floor", "heat", ""]
df.dtypes

## Date converted from string to epoch ms

In [ ]:
# enumerate_column("loc city", df)

In [ ]:
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Create a box plot for the 'price' column
sns.set(style="whitegrid")
plt.figure(figsize=(8, 6))
sns.boxplot(x='price', data=df, orient='v')
plt.title('Box Plot for Price')
plt.show()

In [ ]:
obj = (df.dtypes == 'object')
object_cols = list(obj[obj].index)
print("Categorical variables:",len(object_cols))

int_ = (df.dtypes == 'int')
num_cols = list(int_[int_].index)
print("Integer variables:",len(num_cols))

fl = (df.dtypes == 'float')
fl_cols = list(fl[fl].index)
print("Float variables:",len(fl_cols))

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Make copy to avoid changing original data
label_df = df.copy()

# Apply label encoder to each column with categorical data
label_encoder = LabelEncoder()
for col in object_cols:
    df[col] = label_encoder.fit_transform(df[col].astype(str))


df

In [1]:
plt.figure(figsize=(12, 6))
sns.heatmap(df.corr(),
			cmap = 'BrBG',
			fmt = '.2f',
			linewidths = 2,
			annot = True)

NameError: name 'plt' is not defined

In [ ]:
plt.figure(figsize=(18, 36))
plt.title('Categorical Features: Distribution')
plt.xticks(rotation=90)
index = 1

for col in object_cols:
	y = df[col].value_counts()
	plt.subplot(11, 4, index)
	plt.xticks(rotation=90)
	sns.barplot(x=list(y.index), y=y)
	index += 1