# preprocessing
- find null values
- replace with feature mean
- find outliers (especially m2)
- enumarate categorical features
- drop title col
- drop id col
- convert all prices to try
- drop lat lon
- convert date values to be of the same race
- drop type (bcz all values are flat)
- drop currency
- remove outlier prices (25000 TL, 8500000TL)

In [1]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
FILENAME = "real_estate_data.csv"
df = pd.read_csv(FILENAME)
df

/tmp/ipykernel_9650/3775919421.py:2: DtypeWarning: Columns (7,8,17,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(FILENAME)

,title,Id,price,currency,loc city,loc county,loc dist,lat,lon,date,...,tfloor,heat,bath,furn,status,resid,due,loan,saler,exc
0,SAHİBİNDEN-%10 İNDİRİM-225.000 TL,323589399,225000,Turkish Lira,İstanbul,Sancaktepe,Sarıgazi Mah.,41.0038377949543,29.21301931142807,28 Temmuz 2016,...,5,Combi,1,False,Tenant,False.1,0,True,Owner,True.1
1,İSTANBULUN MERKEZİ,323599659,360000,Turkish Lira,İstanbul,Üsküdar,Ünalan Mah.,41.00505149566664,29.06293362379074,28 Temmuz 2016,...,9,Combi,1,False,Empty,True,Unknown,True,Owner,False
2,Merkezde 4+1 Şömineli Ultra Lüks Sıfır İskanlı...,323536105,335000,Turkish Lira,İstanbul,Arnavutköy,Hastane Mah.,41.15349006974785,28.61914336681366,27 Temmuz 2016,...,5,Combi,1,False,Empty,True,Unknown,True,Owner,False
3,kelepir büyük dublex acil pazarlık yaparız boş...,323709392,235000,Turkish Lira,Antalya,Muratpaşa,Yenigün Mah.,36.902680915191745,30.72165828198194,28 Temmuz 2016,...,4,Floor Calorie,2,False,Tenant,False,25,True,Owner,True
4,ACİL SAHİBİNDEN MANİSA MURADİYE ANA CADDEDE DU...,323730617,229000,Turkish Lira,Manisa,Yunusemre,Muradiye,38.6388217455677,27.346086502075195,28 Temmuz 2016,...,5,Combi,2,False,Tenant,False,Unknown,True,Owner,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33267,satılık daire 2+1 .0 bahcelievler siyavuş paşa...,457328108,360000,Turkish Lira,İstanbul,Bahçelievler,Siyavuşpaşa Mah.,40.995306,28.851416,2017-09-03,...,5,Combi,1.0,False,Empty,False,10,True,Real Estate Office,False
33268,TALAS'IN EN GUZEL YERI YAMAC SITESI 6.BLOK,477529662,475000,Turkish Lira,Kayseri,Talas,Bahçelievler Mah.,38.685825,35.543849,2017-09-03,...,14,Central,2.0,False,Owner,True,Unknown,True,Owner,False
33269,7 EMLAK'TAN AKDERE MAHALLESİNDE 6+1 DUBLEKS SA...,406397908,375000,Turkish Lira,Ankara,Mamak,Kazım Orbay Mah.,39.913936,32.892213,2017-09-03,...,6,Combi,2.0,False,Owner,False,Unknown,False,Real Estate Office,False
33270,HOME Vizyon Şirinevler METROYA 6Dk Yürüme Yolu...,468679683,289000,Turkish Lira,İstanbul,Bahçelievler,Şirinevler Mah.,40.992231,28.843328,2017-09-03,...,5,Combi,1.0,False,Empty,False,Unknown,True,Real Estate Office,False
33271,ÇAMLICA TEPESİNE YAKIN FERAH'TA PRİM YAPACAK ...,468558453,320000,Turkish Lira,İstanbul,Üsküdar,Ferah Mah.,41.03244,29.073408,2017-09-03,...,5,Combi,1.0,False,Owner,False,35,False,Real Estate Office,False

In [3]:
# Find rows where 'bath' column has null values
null_bath_rows = df[df['bath'].isnull()]
# null_bath_rows = df[df['bath'] == "None"]

# Display the DataFrame with null values in the 'bath' column
null_bath_rows

,title,Id,price,currency,loc city,loc county,loc dist,lat,lon,date,...,tfloor,heat,bath,furn,status,resid,due,loan,saler,exc
1945,GARAJ (DEPO) KARATAŞ GÜNEYKENT,452357641,17000,Turkish Lira,Gaziantep,Şahinbey,Güneykent Mah.,37.02889166288418,37.32277315109968,20 Haziran 2017,...,6,NaN,NaN,Unknown,Empty,True,Unknown,Unknown,Owner,False
1968,massey ferguson 178 orjinal hastasina,470222019,20000,Turkish Lira,Konya,Karatay,Bakırtolu Köyü,37.795991161753534,32.816723361611366,15 Ağustos 2017,...,1,NaN,NaN,Unknown,Owner,True,Unknown,Unknown,Owner,False
1987,AFYON'DAKİ EV ve İŞYERİNİZ 72. SAATTE NAKİT,464709142,20000,Turkish Lira,Afyonkarahisar,Merkez,Karaman Mah.,38.759814,30.5390072,24 Temmuz 2017,...,1,NaN,NaN,False,Empty,False,Unknown,False,Owner,False
2040,1+1 için KELEPİR ACİLLLL,430903424,25000,Turkish Lira,Tekirdağ,Çorlu,Şeyh Sinan Mah.,41.15836095946533,27.79046684503555,12 Ağustos 2017,...,5,NaN,NaN,False,Empty,False,0,True,Real Estate Office,False
2081,laguna 2003,427303991,27750,Turkish Lira,Elazığ,Merkez,Sanayi Mah.,38.6678798,39.2463146,26 Nisan 2017,...,8,Combi,NaN,False,Owner,False,Unknown,Unknown,Owner,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32431,Merkez sanat Okulu bostanlar sok 2+1 güney cep...,469028503,330000,Turkish Lira,Kocaeli,İzmit,Cedit Mah.,40.76615470938309,29.93674769997597,2017-09-03,...,4,Combi,NaN,False,Empty,False,Unknown,True,Construction Company,False
32524,ÇEKMEKÖY YEŞİLBELDE DE SATILIK BÜYÜK TİP DAİRE...,457936030,450000,Turkish Lira,İstanbul,Çekmeköy,Mimar Sinan Mah.,41.03048788920626,29.1790534928441,2017-09-03,...,8,Combi,NaN,False,Tenant,True,175,True,Real Estate Office,False
32541,F.ASTAR İNŞAAT GYO DAN EŞREFPAŞA CAD. ÜSTÜ FIR...,417147228,227000,Turkish Lira,İzmir,Konak,Güneşli Mah.,38.398606290213976,27.131248509758734,2017-09-03,...,3,Combi,NaN,False,Empty,False,Unknown,True,Construction Company,False
32731,MİRAÇ EMLAK TAN RECEP AKDAĞ CAD 6 KAT LÜKS D...,457317304,265000,Turkish Lira,Erzurum,Yakutiye,Muratpaşa Mah.,39.902368528621786,41.273521184921265,2017-09-03,...,8,Central,NaN,False,Tenant,False,Unknown,True,Real Estate Office,False
33159,Rw Riba Mevlüt AVCI'dan satılık dükkan ..,446490315,113000,Turkish Lira,Antalya,Muratpaşa,Yıldız Mah.,36.891487,30.686971,2017-09-03,...,4,Air Conditioning,NaN,False,Tenant,False,Unknown,True,Real Estate Office,False

In [4]:
# Replace 'None' with np.nan if it's not already done
new_df = df.replace('None', np.NaN)

# Remove rows with any null values
df_cleaned = new_df.dropna()

# Save the cleaned DataFrame to a new CSV file
df_cleaned.to_csv('cleaned_data.csv', index=False)

# Display the cleaned DataFrame

df_cleaned

,title,Id,price,currency,loc city,loc county,loc dist,lat,lon,date,...,tfloor,heat,bath,furn,status,resid,due,loan,saler,exc
0,SAHİBİNDEN-%10 İNDİRİM-225.000 TL,323589399,225000,Turkish Lira,İstanbul,Sancaktepe,Sarıgazi Mah.,41.0038377949543,29.21301931142807,28 Temmuz 2016,...,5,Combi,1,False,Tenant,False.1,0,True,Owner,True.1
1,İSTANBULUN MERKEZİ,323599659,360000,Turkish Lira,İstanbul,Üsküdar,Ünalan Mah.,41.00505149566664,29.06293362379074,28 Temmuz 2016,...,9,Combi,1,False,Empty,True,Unknown,True,Owner,False
2,Merkezde 4+1 Şömineli Ultra Lüks Sıfır İskanlı...,323536105,335000,Turkish Lira,İstanbul,Arnavutköy,Hastane Mah.,41.15349006974785,28.61914336681366,27 Temmuz 2016,...,5,Combi,1,False,Empty,True,Unknown,True,Owner,False
3,kelepir büyük dublex acil pazarlık yaparız boş...,323709392,235000,Turkish Lira,Antalya,Muratpaşa,Yenigün Mah.,36.902680915191745,30.72165828198194,28 Temmuz 2016,...,4,Floor Calorie,2,False,Tenant,False,25,True,Owner,True
4,ACİL SAHİBİNDEN MANİSA MURADİYE ANA CADDEDE DU...,323730617,229000,Turkish Lira,Manisa,Yunusemre,Muradiye,38.6388217455677,27.346086502075195,28 Temmuz 2016,...,5,Combi,2,False,Tenant,False,Unknown,True,Owner,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33267,satılık daire 2+1 .0 bahcelievler siyavuş paşa...,457328108,360000,Turkish Lira,İstanbul,Bahçelievler,Siyavuşpaşa Mah.,40.995306,28.851416,2017-09-03,...,5,Combi,1.0,False,Empty,False,10,True,Real Estate Office,False
33268,TALAS'IN EN GUZEL YERI YAMAC SITESI 6.BLOK,477529662,475000,Turkish Lira,Kayseri,Talas,Bahçelievler Mah.,38.685825,35.543849,2017-09-03,...,14,Central,2.0,False,Owner,True,Unknown,True,Owner,False
33269,7 EMLAK'TAN AKDERE MAHALLESİNDE 6+1 DUBLEKS SA...,406397908,375000,Turkish Lira,Ankara,Mamak,Kazım Orbay Mah.,39.913936,32.892213,2017-09-03,...,6,Combi,2.0,False,Owner,False,Unknown,False,Real Estate Office,False
33270,HOME Vizyon Şirinevler METROYA 6Dk Yürüme Yolu...,468679683,289000,Turkish Lira,İstanbul,Bahçelievler,Şirinevler Mah.,40.992231,28.843328,2017-09-03,...,5,Combi,1.0,False,Empty,False,Unknown,True,Real Estate Office,False
33271,ÇAMLICA TEPESİNE YAKIN FERAH'TA PRİM YAPACAK ...,468558453,320000,Turkish Lira,İstanbul,Üsküdar,Ferah Mah.,41.03244,29.073408,2017-09-03,...,5,Combi,1.0,False,Owner,False,35,False,Real Estate Office,False

In [5]:

df = pd.read_csv('cleaned_data.csv')

In [6]:
missing_values_summary = df.isnull().sum()
missing_values_summary

title         0
Id            0
price         0
currency      0
loc city      0
loc county    0
loc dist      0
lat           0
lon           0
date          0
type          0
m2            0
rooms         0
age           0
floor         0
tfloor        0
heat          0
bath          0
furn          0
status        0
resid         0
due           0
loan          0
saler         0
exc           0
dtype: int64

In [7]:
df.values

array([['SAHİBİNDEN-%10 İNDİRİM-225.000 TL', 323589399, 225000, ...,
        'True', 'Owner', 'True.1'],
       ['İSTANBULUN MERKEZİ', 323599659, 360000, ..., 'True', 'Owner',
        'False'],
       ['Merkezde 4+1 Şömineli Ultra Lüks Sıfır İskanlı Daire',
        323536105, 335000, ..., 'True', 'Owner', 'False'],
       ...,
       ["7 EMLAK'TAN AKDERE MAHALLESİNDE 6+1 DUBLEKS SATILIK DAİRE",
        406397908, 375000, ..., 'False', 'Real Estate Office', 'False'],
       ['HOME Vizyon Şirinevler METROYA 6Dk Yürüme Yolu SIFIR 2+1 Daire',
        468679683, 289000, ..., 'True', 'Real Estate Office', 'False'],
       ["ÇAMLICA TEPESİNE YAKIN  FERAH'TA PRİM YAPACAK SATILIK 2+1 DAİRE",
        468558453, 320000, ..., 'False', 'Real Estate Office', 'False']],
      dtype=object)

# DROP FETURES

## Drop lat - lon - title - id and type features from dataframe

In [8]:
# Check if 'Title' column exists before dropping
if 'lat' in df.columns:
    # Drop the 'Title' feature
    df.drop('lat', axis=1, inplace=True)

# Check if 'Title' column exists before dropping
if 'lon' in df.columns:
    # Drop the 'Title' feature
    df.drop('lon', axis=1, inplace=True)

# Check if 'Title' column exists before dropping
if 'type' in df.columns:
    # Drop the 'Title' feature
    df.drop('type', axis=1, inplace=True)

# Check if 'Title' column exists before dropping
if 'title' in df.columns:
    # Drop the 'Title' feature
    df.drop('title', axis=1, inplace=True)

if 'Id' in df.columns:
    # Drop the 'Id' feature
    df.drop('Id', axis=1, inplace=True)

df

,price,currency,loc city,loc county,loc dist,date,m2,rooms,age,floor,tfloor,heat,bath,furn,status,resid,due,loan,saler,exc
0,225000,Turkish Lira,İstanbul,Sancaktepe,Sarıgazi Mah.,28 Temmuz 2016,85,2+1,5-10,High Entrance,5,Combi,1,False,Tenant,False.1,0,True,Owner,True.1
1,360000,Turkish Lira,İstanbul,Üsküdar,Ünalan Mah.,28 Temmuz 2016,87,2+1,0,Ground Floor,9,Combi,1,False,Empty,True,Unknown,True,Owner,False
2,335000,Turkish Lira,İstanbul,Arnavutköy,Hastane Mah.,27 Temmuz 2016,160,4+1,0,4,5,Combi,1,False,Empty,True,Unknown,True,Owner,False
3,235000,Turkish Lira,Antalya,Muratpaşa,Yenigün Mah.,28 Temmuz 2016,165,4+1,5-10,Rise 4,4,Floor Calorie,2,False,Tenant,False,25,True,Owner,True
4,229000,Turkish Lira,Manisa,Yunusemre,Muradiye,28 Temmuz 2016,208,5+1,0,Rise 4,5,Combi,2,False,Tenant,False,Unknown,True,Owner,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32638,360000,Turkish Lira,İstanbul,Bahçelievler,Siyavuşpaşa Mah.,2017-09-03,80,2+1,0,2,5,Combi,1.0,False,Empty,False,10,True,Real Estate Office,False
32639,475000,Turkish Lira,Kayseri,Talas,Bahçelievler Mah.,2017-09-03,180,3+1,4,13,14,Central,2.0,False,Owner,True,Unknown,True,Owner,False
32640,375000,Turkish Lira,Ankara,Mamak,Kazım Orbay Mah.,2017-09-03,280,6+1,5-10,6,6,Combi,2.0,False,Owner,False,Unknown,False,Real Estate Office,False
32641,289000,Turkish Lira,İstanbul,Bahçelievler,Şirinevler Mah.,2017-09-03,88,2+1,0,1,5,Combi,1.0,False,Empty,False,Unknown,True,Real Estate Office,False
32642,320000,Turkish Lira,İstanbul,Üsküdar,Ferah Mah.,2017-09-03,85,2+1,5-10,Ground Floor,5,Combi,1.0,False,Owner,False,35,False,Real Estate Office,False

## Change all currency with turkish lira equivalent and drop currency feature

In [9]:

if "currency" in df.columns:

    df.loc[df['currency'] == 'Euro', 'price'] *= 4
    df.loc[df['currency'] == 'US Dollar', 'price'] *= 3.5
    df.loc[df['currency'] == 'British Pound', 'price'] *= 4.5

    df.drop("currency", axis=1, inplace=True)
df["price"]

/tmp/ipykernel_9650/2610991800.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 350000.   647500.   349996.5 ... 1750000.  4550000.  1925000. ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['currency'] == 'US Dollar', 'price'] *= 3.5

0        225000.0
1        360000.0
2        335000.0
3        235000.0
4        229000.0
           ...
32638    360000.0
32639    475000.0
32640    375000.0
32641    289000.0
32642    320000.0
Name: price, Length: 32643, dtype: float64

## Outlier detection using confidence interval

In [10]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

# Define a condition to identify outliers
outlier_condition = (df['price'] < (Q1 - 1.5 * IQR)) | (df['price'] > (Q3 + 1.5 * IQR))

# Display rows containing outliers
outliers = df[outlier_condition]
print(outliers.shape)
dropped_df = df.drop(outliers.index)
dropped_df

(3036, 19)

,price,loc city,loc county,loc dist,date,m2,rooms,age,floor,tfloor,heat,bath,furn,status,resid,due,loan,saler,exc
0,225000.0,İstanbul,Sancaktepe,Sarıgazi Mah.,28 Temmuz 2016,85,2+1,5-10,High Entrance,5,Combi,1,False,Tenant,False.1,0,True,Owner,True.1
1,360000.0,İstanbul,Üsküdar,Ünalan Mah.,28 Temmuz 2016,87,2+1,0,Ground Floor,9,Combi,1,False,Empty,True,Unknown,True,Owner,False
2,335000.0,İstanbul,Arnavutköy,Hastane Mah.,27 Temmuz 2016,160,4+1,0,4,5,Combi,1,False,Empty,True,Unknown,True,Owner,False
3,235000.0,Antalya,Muratpaşa,Yenigün Mah.,28 Temmuz 2016,165,4+1,5-10,Rise 4,4,Floor Calorie,2,False,Tenant,False,25,True,Owner,True
4,229000.0,Manisa,Yunusemre,Muradiye,28 Temmuz 2016,208,5+1,0,Rise 4,5,Combi,2,False,Tenant,False,Unknown,True,Owner,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32638,360000.0,İstanbul,Bahçelievler,Siyavuşpaşa Mah.,2017-09-03,80,2+1,0,2,5,Combi,1.0,False,Empty,False,10,True,Real Estate Office,False
32639,475000.0,Kayseri,Talas,Bahçelievler Mah.,2017-09-03,180,3+1,4,13,14,Central,2.0,False,Owner,True,Unknown,True,Owner,False
32640,375000.0,Ankara,Mamak,Kazım Orbay Mah.,2017-09-03,280,6+1,5-10,6,6,Combi,2.0,False,Owner,False,Unknown,False,Real Estate Office,False
32641,289000.0,İstanbul,Bahçelievler,Şirinevler Mah.,2017-09-03,88,2+1,0,1,5,Combi,1.0,False,Empty,False,Unknown,True,Real Estate Office,False
32642,320000.0,İstanbul,Üsküdar,Ferah Mah.,2017-09-03,85,2+1,5-10,Ground Floor,5,Combi,1.0,False,Owner,False,35,False,Real Estate Office,False

In [11]:
dropped_df

,price,loc city,loc county,loc dist,date,m2,rooms,age,floor,tfloor,heat,bath,furn,status,resid,due,loan,saler,exc
0,225000.0,İstanbul,Sancaktepe,Sarıgazi Mah.,28 Temmuz 2016,85,2+1,5-10,High Entrance,5,Combi,1,False,Tenant,False.1,0,True,Owner,True.1
1,360000.0,İstanbul,Üsküdar,Ünalan Mah.,28 Temmuz 2016,87,2+1,0,Ground Floor,9,Combi,1,False,Empty,True,Unknown,True,Owner,False
2,335000.0,İstanbul,Arnavutköy,Hastane Mah.,27 Temmuz 2016,160,4+1,0,4,5,Combi,1,False,Empty,True,Unknown,True,Owner,False
3,235000.0,Antalya,Muratpaşa,Yenigün Mah.,28 Temmuz 2016,165,4+1,5-10,Rise 4,4,Floor Calorie,2,False,Tenant,False,25,True,Owner,True
4,229000.0,Manisa,Yunusemre,Muradiye,28 Temmuz 2016,208,5+1,0,Rise 4,5,Combi,2,False,Tenant,False,Unknown,True,Owner,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32638,360000.0,İstanbul,Bahçelievler,Siyavuşpaşa Mah.,2017-09-03,80,2+1,0,2,5,Combi,1.0,False,Empty,False,10,True,Real Estate Office,False
32639,475000.0,Kayseri,Talas,Bahçelievler Mah.,2017-09-03,180,3+1,4,13,14,Central,2.0,False,Owner,True,Unknown,True,Owner,False
32640,375000.0,Ankara,Mamak,Kazım Orbay Mah.,2017-09-03,280,6+1,5-10,6,6,Combi,2.0,False,Owner,False,Unknown,False,Real Estate Office,False
32641,289000.0,İstanbul,Bahçelievler,Şirinevler Mah.,2017-09-03,88,2+1,0,1,5,Combi,1.0,False,Empty,False,Unknown,True,Real Estate Office,False
32642,320000.0,İstanbul,Üsküdar,Ferah Mah.,2017-09-03,85,2+1,5-10,Ground Floor,5,Combi,1.0,False,Owner,False,35,False,Real Estate Office,False

In [15]:
# Assuming 'df' is your DataFrame
# for column in df.columns:

#     correlation_with_target = df.corrwith(df[column])
#     print(correlation_with_target)
df

,price,loc city,loc county,loc dist,date,m2,rooms,age,floor,tfloor,heat,bath,furn,status,resid,due,loan,saler,exc
0,225000.0,İstanbul,Sancaktepe,Sarıgazi Mah.,28 Temmuz 2016,85,2+1,5-10,High Entrance,5,Combi,1,False,Tenant,False.1,0,True,Owner,True.1
1,360000.0,İstanbul,Üsküdar,Ünalan Mah.,28 Temmuz 2016,87,2+1,0,Ground Floor,9,Combi,1,False,Empty,True,Unknown,True,Owner,False
2,335000.0,İstanbul,Arnavutköy,Hastane Mah.,27 Temmuz 2016,160,4+1,0,4,5,Combi,1,False,Empty,True,Unknown,True,Owner,False
3,235000.0,Antalya,Muratpaşa,Yenigün Mah.,28 Temmuz 2016,165,4+1,5-10,Rise 4,4,Floor Calorie,2,False,Tenant,False,25,True,Owner,True
4,229000.0,Manisa,Yunusemre,Muradiye,28 Temmuz 2016,208,5+1,0,Rise 4,5,Combi,2,False,Tenant,False,Unknown,True,Owner,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32638,360000.0,İstanbul,Bahçelievler,Siyavuşpaşa Mah.,2017-09-03,80,2+1,0,2,5,Combi,1.0,False,Empty,False,10,True,Real Estate Office,False
32639,475000.0,Kayseri,Talas,Bahçelievler Mah.,2017-09-03,180,3+1,4,13,14,Central,2.0,False,Owner,True,Unknown,True,Owner,False
32640,375000.0,Ankara,Mamak,Kazım Orbay Mah.,2017-09-03,280,6+1,5-10,6,6,Combi,2.0,False,Owner,False,Unknown,False,Real Estate Office,False
32641,289000.0,İstanbul,Bahçelievler,Şirinevler Mah.,2017-09-03,88,2+1,0,1,5,Combi,1.0,False,Empty,False,Unknown,True,Real Estate Office,False
32642,320000.0,İstanbul,Üsküdar,Ferah Mah.,2017-09-03,85,2+1,5-10,Ground Floor,5,Combi,1.0,False,Owner,False,35,False,Real Estate Office,False

In [26]:

def transform_date(date_str):
    aylar = {"Ocak": "01", "Şubat": "02", "Mart": "03", "Nisan": "04", "Mayıs": "05", "Haziran": "06",
             "Temmuz": "07", "Ağustos": "08", "Eylül": "09", "Ekim": "10", "Kasım": "11", "Aralık": "12"}

    result = '-'.join(date_str.split()[::-1])
    for ay, ay_kodu in aylar.items():
        result = result.replace(ay, ay_kodu)
    
    return result

def transform_date_to_ms(date_str:str) -> int:
    from dateutil import parser

    return parser.parse(date_str, dayfirst=True).timestamp().__floor__()


# 'date' sütununu dönüştürün
df['date'] = df['date'].apply(transform_date)
df['date'] = df['date'].apply(transform_date_to_ms)
df['date']

0        1469653200
1        1469653200
2        1469566800
3        1469653200
4        1469653200
            ...
32638    1489006800
32639    1489006800
32640    1489006800
32641    1489006800
32642    1489006800
Name: date, Length: 32643, dtype: int64

# TODO

In [16]:
from pandas import DataFrame
from sklearn.preprocessing import LabelEncoder

def enumerate_column(column: str, df: DataFrame):
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])

columns_to_enumerate = ["loc city", "loc county", "loc dist", "floor", "heat", ""]
df

## Date converted from string to epoch ms

In [22]:
# enumerate_column("loc city", df)

,price,loc city,loc county,loc dist,date,m2,rooms,age,floor,tfloor,heat,bath,furn,status,resid,due,loan,saler,exc
0,225000.0,77,Sancaktepe,Sarıgazi Mah.,28 Temmuz 2016,85,2+1,5-10,High Entrance,5,Combi,1,False,Tenant,False.1,0,True,Owner,True.1
1,360000.0,77,Üsküdar,Ünalan Mah.,28 Temmuz 2016,87,2+1,0,Ground Floor,9,Combi,1,False,Empty,True,Unknown,True,Owner,False
2,335000.0,77,Arnavutköy,Hastane Mah.,27 Temmuz 2016,160,4+1,0,4,5,Combi,1,False,Empty,True,Unknown,True,Owner,False
3,235000.0,6,Muratpaşa,Yenigün Mah.,28 Temmuz 2016,165,4+1,5-10,Rise 4,4,Floor Calorie,2,False,Tenant,False,25,True,Owner,True
4,229000.0,50,Yunusemre,Muradiye,28 Temmuz 2016,208,5+1,0,Rise 4,5,Combi,2,False,Tenant,False,Unknown,True,Owner,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32638,360000.0,77,Bahçelievler,Siyavuşpaşa Mah.,2017-09-03,80,2+1,0,2,5,Combi,1.0,False,Empty,False,10,True,Real Estate Office,False
32639,475000.0,41,Talas,Bahçelievler Mah.,2017-09-03,180,3+1,4,13,14,Central,2.0,False,Owner,True,Unknown,True,Owner,False
32640,375000.0,5,Mamak,Kazım Orbay Mah.,2017-09-03,280,6+1,5-10,6,6,Combi,2.0,False,Owner,False,Unknown,False,Real Estate Office,False
32641,289000.0,77,Bahçelievler,Şirinevler Mah.,2017-09-03,88,2+1,0,1,5,Combi,1.0,False,Empty,False,Unknown,True,Real Estate Office,False
32642,320000.0,77,Üsküdar,Ferah Mah.,2017-09-03,85,2+1,5-10,Ground Floor,5,Combi,1.0,False,Owner,False,35,False,Real Estate Office,False

In [ ]:
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Create a box plot for the 'price' column
sns.set(style="whitegrid")
plt.figure(figsize=(8, 6))
sns.boxplot(x='price', data=df, orient='v')
plt.title('Box Plot for Price')
plt.show()